* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(45,102,58,1) 0%, rgba(37,207,30,1) 50%, rgba(45,102,58,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    height: 60vh;
    min-width: 400px;
    max-width: 400px;
}
.screen {
    width: 100%;
    min-height: 20%;
    background-color: rgba(25, 25, 25, 0.1);
    color: white;
    word-break: break-all;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    font-weight: bold;
}
.currentNumber {
    font-size: 32px;
}
.previousNumber {
    color: lightgrey;
    font-size: 24px;
}

.sign {
    font-size: 24px;
}
.buttons {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
}
.buttons button {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#red {
    background-color: rgba(255, 0, 0, 0.4);
}
#red:hover {
    background-color: rgba(255, 0, 0, 0.5);
}
.history {
    height: 60vh;
    width: 20vw;
    background-color: rgba(25, 25, 25, 0.1);
    margin: 10px;
    text-align: center;
    color: white;
}